* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dm-sans-<uniquifier> {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


:root {
    --white: #fff;
    --blue-forms-background: #1E87E9;
    --light-green-header: #CBFCFF;
    --blue-font-header: #0C238F;
    --blue-font: #0030A9;
    --green-font: #00A68B;
    --blue-font-p: #0030A9;
    --green-button: #06FB2A;
    --light-green-forms: #E4F7FF;
    --bg-body: url(./imagens/bg-body.png);
}


body {
    color: #1a4ab2;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background: var(--bg-body);
    background-repeat: no-repeat;
    background-size: auto;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
}

header img {
    height: 6rem;
    padding-inline: 5rem;
}

header div {
    display: flex;
    padding-right: 10rem;
    gap: 5rem;
}

header div p {
    font-weight: 700;
    font-size: 0.875rem;
    cursor: pointer;
    color: var(--blue-font-header);
}

header div p:hover {
    color: var(--green-font);
    font-size: 1rem;
}

.informacoes {
    display: flex;
    align-items: center;
    padding-left: 12rem;
    gap: 2.5rem;
}

.conteudo {
    flex: 1;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 1.25rem;
}

h1 span {
    color: var(--green-font)
}

.informacoes p {
    font-size: 1.15rem;
    color: #1a4ab2;
    line-height: 1.6;
    margin-bottom: 0.9375rem;
    max-width: 31.25rem;
}

#paragrafo {
    margin-left: 5rem;
}

#paragrafo span {
    font-weight: 600;
    font-style: italic;
}

.informacoes img {
    width: 35rem;
    height: 30rem;
    margin-right: 0;
}

.checks {
    font-size: 1.15rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    margin-bottom: 5rem;
    margin-inline: 20rem;
    max-width: 50rem;
}

.checks img {
    width: 2.1875rem;
    float: left;
    margin-right: 0.625rem;
}

.checks p {
    font-weight: 400;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
}

.forms {
    background: var(--blue-forms-background);
    color: var(--white);
    padding: 2.5rem 8%;
    text-align: center;
    border-radius: 1.875rem 1.875rem 0 0;
}

.forms>p {
    font-weight: 600;
    margin-bottom: 1.5625rem;
    max-width: 37.5rem;
    margin-inline: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
}

form input::placeholder {
    color: var(--blue-forms-background);
}

.input-box input {
    width: 37.5rem;
    padding: 0.9375rem 1.5625rem;
    border: none;
    border-radius: 0.75rem;
    background-color: #e1f3ff;
    font-size: 1rem;
}

button {
    background-color: var(--green-button);
    color: white;
    border: none;
    padding: 0.9375rem 7.5rem;
    font-weight: 900;
    font-size: 1.25rem;
    border-radius: 0.75rem;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.2);
    margin-top: 0.625rem;
}

#dados {
    margin-top: 3.125rem;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    font-size: 0.8125rem;
    flex-wrap: wrap;
}

#logoRodape {
    width: 10rem;
    height: 8rem;
}

.logos {
    width: 1.5rem;
    margin-left: 0.625rem;
    cursor: pointer;
}

@media(max-width: 1000px) {

    header {
        flex-direction: column;
        gap: 0.9375rem;
        padding: 1.25rem ;
    }

    header div {
        gap: 0.9375rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    header div p {
        font-size: 0.75rem;
    }


    .informacoes {
        flex-direction: column;
        text-align: center;
        padding: 1.25rem;
        gap: 1.25rem;
    }

    .informacoes h1 {
        font-size: 2.375rem;
    }

    .informacoes img {
        width: 100%;
        max-width: 15rem;
        max-height: 15rem;
        margin-right: 0;
    }

    .informacoes p {
        margin-inline: auto;
    }


    .checks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10% 1.875rem 10%;
    }

    .checks p {
        font-size: 1rem;
        justify-content: center;
    }

    .forms {
        padding: 2.5rem 5%;
        border-radius: 2.5rem 2.5rem 0 0;
    }

    .input-box input {
        width: 100%;
        max-width: 100%;
    }

    button {
        width: 100%;
        padding: 0.9375rem 0;
    }

    #dados {
        flex-direction: column;
        gap: 0.625rem;
        margin-top: 1.875rem;
    }

    #dados p {
        font-size: 0.875rem;
    }

    .social-icons-container {
        display: flex;
        justify-content: center;
        gap: 0.9375rem;
        margin-top: 0.625rem;
    }
}
